<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>编辑书籍资料</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/Dashboard/dashboard.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">编辑书籍资料<</div>
                <div class="panel-body">
                    <form action="{% url 'edit_book' book_list.id %}" method="post">
                        <input type="text" name="id" value="{{ book_list.id }}" style="display: none">
                        <p>书籍名：
                            <input name="book_name" type="text" value="{{ book_list.name }}">
                        </p>
                        <p>出版社：
                            <select name="publisher">
                                {% for p in  publisher_list %}
                                    {% if book_list.publisher_id == p.id %}
                                        <option value="{{ p.id }}" selected>{{ p.name }}</option>
                                    {% else %}
                                        <option value="{{ p.id }}">{{ p.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </p>
                        <p>
                            <input type="submit" class="btn-success btn" value="提交">
                        </p>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="/static/jquery-3.2.1.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>